# Python / Django
Backend/.env
Backend/venv/
Backend/.venv/
Backend/**/__pycache__/
Backend/**/*.pyc
Backend/media/
Backend/db.sqlite3

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store

# Logs
*.log
